tered

Severity: Warning

Message: Missing argument 2 for Driver_Model::viewassignrecords(), called in C:\wamp\www\PetCare\application\controllers\Driver.php on line 36 and defined

Filename: models/Driver_Model.php

Line Number: 10

Backtrace:

File: C:\wamp\www\PetCare\application\models\Driver_Model.php
Line: 10
Function: _error_handler

File: C:\wamp\www\PetCare\application\controllers\Driver.php
Line: 36
Function: viewassignrecords

File: C:\wamp\www\PetCare\index.php
Line: 315
Function: require_once
A PHP Error was encountered

Severity: Notice

Message: Undefined variable: req_id

Filename: models/Driver_Model.php

Line Number: 12

Backtrace: